Pods/
Country.mmdb
Carthage
Waypoint.a
Waypoint.h
Waypoint/Resources/dashboard
Waypoint.app
*.dmg
**/xcuserdata/
.idea
*.pyc
Waypoint/waypoint/
.DS_Store
.vscode
Waypoint/Resources/mihomo
fastlane/report.xml
Waypoint/Resources/Country.mmdb.gz
.bundle/config
*.app/**
Waypoint.app.dSYM.zip
build_derived_data
gitupdate.bat
