<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>org.waypnt.waypoint.ProxyConfigHelper</key>
		<string>anchor apple generic and identifier "org.waypnt.waypoint.ProxyConfigHelper" and certificate leaf[subject.OU] = N48L43Q7F9</string>
	</dict>
</dict>
</plist>
