<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AssociatedBundleIdentifiers</key>
	<string>org.waypnt.waypoint</string>
	<key>Label</key>
	<string>org.waypnt.waypoint.ProxyConfigHelper</string>
	<key>MachServices</key>
	<dict>
		<key>org.waypnt.waypoint.ProxyConfigHelper</key>
		<true/>
	</dict>
	<key>BundleProgram</key>
	<string>Contents/Library/LaunchServices/org.waypnt.waypoint.ProxyConfigHelper</string>
	<key>StandardErrorPath</key>
	<string>/Library/Logs/Waypoint-helper.log</string>
</dict>
</plist>
